spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/firedb}
    username: ${DB_USERNAME:fireuser}
    password: ${DB_PASSWORD:fireuser}
  jpa:
    hibernate:
      ddl-auto: update
  devtools:
    restart:
      trigger-file: reload
    livereload:
      enabled: false
  jackson:
    default-property-inclusion: NON_NULL

logging:
  level:
    org.hibernate.SQL: debug

project:
  jwt:
    signKey: ${JWT_SIGN_KEY:ZGVmYXVsdERldktleUNoYW5nZUluUHJvZHVjdGlvbjEyMzQ1}
    expirationMinutes: ${JWT_EXPIRATION_MINUTES:1440}



